.body {
  display: flex;
  height: 100vh;

  width: 100vw;
  position: fixed;
  top: 0%;
  left: 0%;
  max-width: 100%;
  background: rgb(12, 0, 36);
  background: radial-gradient(
    circle,
    rgba(12, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 43%,
    rgba(0, 212, 255, 1) 100%
  );
}
.DashboardContainer {
  display: flex;
  height: 90vh;
  border: 2px solid #ef991e;
  border-radius: 10px;
  width: 81vw;
  position: fixed;
  top: 5%;
  left: 10%;
  max-width: 100%;
  background-color: rgb(255, 255, 255);
}

.btn-primary {
  height: 100%;
  width: 27vw;
}
